
.bg-cover{
    background-color:#000;
}
.activeLinkItem{
    box-shadow:0 4px 8px 0 lightgreen;
}
.deactiveLinkItem{
    box-shadow:none;
}
a{
    text-decoration:none;
    color:#000;
}
.parent{
    opacity: 0.8;
}
.card{
    background-color : rgba(255, 255, 255, 0.726);
   
    margin: 10px;
}
.card-footer{
    text-align: right;
}

.navbar{
    border-radius: 3px;
    width: 100% !important;
}
.gitlogo{
    width: 200px;
    max-width: 100%;;
}
.logo{
    width: 30px;
}
.seeMoreLink {
    border-bottom: 1px solid #000;
}
.seeMore{
    text-align:right;
}
.repoItem{
    transition-property:all;
    transition-duration:500ms;
}
.repoItem:hover {
    transform: scale(1.05);
}
 .fa{
    color:rebeccapurple;
}
.nav-link{
    font-size:1.2rem;
}
.fa-download {
    color: #fff;
}
#contact{
    text-align:center;
}
