<div class="container-fluid">
    <div class="custom_avatar">
        <a href="/home">
            <img alt="ErshadRaoufi_ارشاد رئوفی" 
            src="../assets/Images/profile.jpg" class="myAvatar" />
        </a>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="#cv" style="visibility:hidden"><i
                        class="fa fa-user-circle-o"></i> My CV</a>
                <a class="nav-link" href="#aparat"><i class="fa fa-film"></i>My Aparat Video</a>
                <a class="nav-link" title="Ershad Raoufi's Article" href="/Articles/"><i
                        class="fa fa-file-text"></i>My Articles</a>
                        <a class="nav-link" href="/Articles/پادکست_در_حوزه_برنامه_نویسی.html"><i class="fa  fa-podcast"></i> My Podcast</a>
                <a class="nav-link" href="#repo"><i class="fa fa-github"></i> GitHub Repositores</a>
          
                <a class="nav-link" href="#contact"><i class="fa fa-phone-square"></i> Contact</a>
                <a class="nav-link" href="#Certifications"><i class="fa fa-certificate"></i>Certifications</a>
                <a class="nav-link" href="/persian"><i class="fa fa-flag"></i>Persian Version</a>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
