<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" tabindex="0">


    

    <app-profile footer="Update a few minutes" id="cv" title="My CV">
        <h5 title="Skills Of ErshadRaoufi">Skills</h5>
        <div class="row">
            <div class="col-md-2">
                <i class="fa fa-5x fa-laptop"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <!--<p>.NET Programmer</p>-->
                        <p>Entity Framework / Microsoft SQL Server</p>
                        <p>FCM / GCM / SignalR / JWT</p>
                        <p>ASP.net MVC / ASP.net Core Programmer</p>
                        <p>Create Web Service with WebApi 2 / Swagger</p>

                    </div>
                    <div class="col-md-4">
                        <p> Create NopCommerce Plugin and Programmer</p>
                        <p>Contact REST Web Services</p>
                        <p>Contact GraphQL Web Services</p>
                        <p>Create web plugins for chrome browser</p>

                    </div>
                    <div class="col-md-4">
                        <p>HTML/CSS/JS</p>
                        <p>Jquery</p>
                        <p>JSON/XML/QML</p>
                        <app-download-cv></app-download-cv>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-2">
                <i class="fa fa-5x fa-university"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Educational and academic background</h5>
                        <p>
                            <a href="https://karaj.iau.ir/">
                                M.Sc. in Computer Engineering Software
                            </a>
                        </p>
                        <p>
                            <a href="https://iau.ir/">
                                B.Sc. in Computer Engineering Software
                            </a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h5>
                            Research Background
                        </h5>
                        <p>
                            Persian Handwriting Detection Using OCR, KNN Algorithms (MSc Thesis)
                        </p>
                        <p>
                            Creating and developing android phone taxi app with FCM (undergraduate final
                            project)
                        </p>
                        <p>
                            Create Android App and Search Site in Scientific Articles with Elsevier Web
                            Service
                        </p>
                        <p>
                            Creating and developing an operating system emulator program with QT (Linux
                            Desktop)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </app-profile>

    <app-profile footer="Update a few minutes" id="aparat" title="Ershad's Aparat Video">
        <div class="row">
            <div class="col-md-4">
                <div title="کلیپ های آموزشی ارشاد رئوفی">
                    <iframe src="https://www.aparat.com/video/video/embed/videohash/pkf6H/vt/frame?recom=none"
                        allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul>
                    <li>
                        <h4>Lazy Loading</h4>
                        <h6>What is Lazy and Lazy Loading?</h6>
                        <h6>Introduce Lazy Type in c#</h6>
                        <h6>when you should use lazy loading in c#?</h6>
                        <h6>How to manage Memory with lazy Type in c#?</h6>
                        <a class="seeMoreLink" title="ErshadRaoufi_Aparat" href="https://www.aparat.com/v/pkf6H">see
                            video on aparat</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li>
                        <h4>GitHub</h4>
                        <h6>What is GitHub Pages?</h6>
                        <h6>Introduce Pages</h6>
                        <h6>when you should use Github?</h6>
                        <h6>How to manage Page in Github?</h6>
                        <a class="seeMoreLink" title="ErshadRaoufi_Aparat" href="https://www.aparat.com/v/P1cq5">see
                            video on aparat</a>

                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <div title="کلیپ های آموزشی ارشاد رئوفی">
                    <iframe src="https://www.aparat.com/video/video/embed/videohash/P1cq5/vt/frame?recom=none"
                        allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-3">
                <div title="کلیپ های آموزشی ارشاد رئوفی">
                    <iframe src="https://www.aparat.com/video/video/embed/videohash/U0ALi/vt/frame?recom=none"
                        allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                </div>
            </div>
            <div class="col-md-3">
                <div title="کلیپ های آموزشی ارشاد رئوفی">
                    <iframe src="https://www.aparat.com/video/video/embed/videohash/zNOfm/vt/frame?recom=none"
                        allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                </div>
            </div>
            <div class="col-md-3">
                <div title="کلیپ های آموزشی ارشاد رئوفی">
                    <iframe src="https://www.aparat.com/video/video/embed/videohash/GnzRw/vt/frame?recom=none"
                        allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                </div>
            </div>
            <div class="col-md-3">
                <div title="کلیپ های آموزشی ارشاد رئوفی">
                    <iframe src="https://www.aparat.com/video/video/embed/videohash/xtKJu/vt/frame?recom=none"
                        allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div title="کلیپ های آموزشی ارشاد رئوفی">
                    <iframe src="https://www.aparat.com/video/video/embed/videohash/Lgnp4/vt/frame?recom=none"
                        allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul>
                    <li>
                        <h4>Ngrok Tools</h4>
                        <h6>What is Ngrok?</h6>
                        <h6>Introduce Ngrok Tools</h6>
                        <h6>when you should use Ngrok?</h6>
                        <h6>How to manage Host by Ngrok?</h6>
                        <a class="seeMoreLink" title="ErshadRaoufi_Aparat" href="https://www.aparat.com/v/Lgnp4">see
                            video on aparat</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li>
                        <h4>Virtual DOM</h4>
                        <h6>What is Virtual DOM?</h6>
                        <h6>Introduce DOM/Virtual DOM</h6>
                        <h6>when you should use Virtual DOM?</h6>
                        <h6>How to manage DOM?</h6>
                        <a class="seeMoreLink" title="ErshadRaoufi_Aparat" href="https://www.aparat.com/v/3QT5e">see
                            video on aparat</a>

                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <div title="کلیپ های آموزشی ارشاد رئوفی">
                    <iframe src="https://www.aparat.com/video/video/embed/videohash/3QT5e/vt/frame?recom=none"
                        allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="seeMore">
                <a class="seeMoreLink" routerLink="/aparat">
                    See More Video
                </a>
            </div>
            <div class="seeMore">
                <a class="seeMoreLink" href="https://aparat.com/Ershad74">
                    Aparat Chanel
                </a>
            </div>
        </div>
    </app-profile>

    <app-profile footer="Update a few minutes" id="nuget" title="Ershad's Nuget">
        <h5 title="Nuget Of ErshadRaoufi">
            <a title="Nuget Ershad.Alert" href="https://www.nuget.org/packages/Ershad.Blazor.Alert/">
                <p>Ershad.Blazor.Alert</p>
            </a>
        </h5>

        <div class="row">
            <div class="col-md-2">
                <a title="Nuget Ershad.Alert" href="https://www.nuget.org/packages/Ershad.Blazor.Alert/">
                    <img width="100" title="Ershad Raoufi Nuget" src="../../assets/Images/nuget.png"
                        alt="Ershad Raoufi Nuget" />
                </a>
            </div>
            <div class="col-md-5">
                <ul>
                    <p>Show Message in Blazor with My Nuget Component,this Nuget use <a
                            href="https://dotnet.microsoft.com/en-us/download/dotnet/6.0">.net 6</a> for render
                        and
                        compile of sourceCode</p>
                    <a title="Nuget Ershad.Alert" href="https://www.nuget.org/packages/Ershad.Blazor.Alert/"><i
                            class="fa fa-link"></i>
                        Ershad.Blazor.Alert Nuget</a>
                    <hr>
                    <a title="Github Ershad.Blazor.Alert" href="https://www.nuget.org/packages/Ershad.Blazor.Alert/"><i
                            class="fa fa-link"></i>
                        Ershad.Blazor.Alert Github</a>
                </ul>
            </div>
            <div class="col-md-5">
                <p>Features of Component</p>
                <ul>
                    <li>Easy install and Easy Use in your Source Code</li>
                    <li>you can use Alert type for declare type of Message</li>
                    <li>you can use Custom Header,Footer and Body Message</li>
                    <li>You can Show your Own Ui in Template of Message</li>
                    <li>You can Set Animation for Show the Message</li>
                </ul>
            </div>
            <div style="text-align:center">
                <img
                    src="https://img.shields.io/github/contributors/ershad95/Ershad.Blazor.Alert?color=yellow&style=plastic" />
                <img src="https://img.shields.io/github/languages/top/ershad95/Ershad.Blazor.Alert?color=brightgreen" />
                <img
                    src="https://img.shields.io/github/languages/count/ershad95/Ershad.Blazor.Alert?color=brightgreen" />
                <img src="https://img.shields.io/github/license/ershad95/Ershad.Blazor.Alert?color=blue" />
                <img
                    src="https://img.shields.io/github/languages/code-size/ershad95/Ershad.Blazor.Alert?color=brightgreen&style=plastic" />
                <img
                    src="https://img.shields.io/github/last-commit/ershad95/Ershad.Blazor.Alert?color=orange&style=plastic" />
                <img
                    src="https://img.shields.io/tokei/lines/github/ershad95/Ershad.Blazor.Alert?color=brightgreen&style=plastic" />
            </div>
        </div>
    </app-profile>


    <app-git></app-git>


    <app-profile footer="Update a few minutes" id="act" title="My Activities">
        <div class="row">
            <div class="col-md-2">
                <i class="fa fa-5x fa-road"></i>
            </div>
            <div class="col-md-10">
                <p> Analysis and infrastructure creation in major national projects</p>
                <p>Senior Programmer and Technical Manager in To upgrade EPG-Inspection System Project</p>
                <p>Head of programmers and programmers in Iran-Parcel Project</p>
                <p>Supervisor and senior programmer in the first-health project</p>
                <p>Development of the second phase of the AbbeyTutors International Project</p>
                <p> Creating and developing matin network projects, fruiting attero, chandsoo, handdokht,
                    parsian chemistry, etc.</p>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="seeMore">
                <a title="IrGoods_Developers" class="seeMoreLink" href="https://irgoods.com/group-members-2">Introduce
                    IrGoods Team</a>
            </div>
        </div>
    </app-profile>


    <app-certificate [showInhomePage]="true"></app-certificate>

</div>