<app-profile title="Badges" footer="Update a few minutes" id="badge">
    

    <div class="row">
        <h1>Earned Skill Badges in Linkedin By Ershad Raoufi</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a title="C#_Badge_Ershad_Raoufi" href="https://www.linkedin.com/in/ershad74/details/skills/">
                <img loading="lazy" alt="اشاد رئوفی_Ershad Raoufi_C#"  
                    src="../../assets/Badge/cSharp.jpeg" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://www.linkedin.com/in/ershad74/details/skills/">
                <img loading="lazy" alt="اشاد رئوفی_Ershad Raoufi_JS"    src="../../assets/Badge/Js.jpeg" />
            </a>

        </div>
        <div class="col-md-4">
            <a href="https://www.linkedin.com/in/ershad74/details/skills/">
                <img loading="lazy" alt="اشاد رئوفی_Ershad Raoufi_HTML"  
                     src="../../assets/Badge/Html.jpeg" />
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="https://www.linkedin.com/in/ershad74/details/skills/">
                <img loading="lazy" alt="اشاد رئوفی_Ershad Raoufi_CSS"    src="../../assets/Badge/CSS.jpeg" />
            </a>

        </div>
        <div class="col-md-4">
            <a href="https://www.linkedin.com/in/ershad74/details/skills/">
                <img loading="lazy" alt="اشاد رئوفی_Ershad Raoufi_.Net"  
                     src="../../assets/Badge/dotNet.jpeg" />
            </a>

        </div>
        <div class="col-md-4">
            <a href="https://www.linkedin.com/in/ershad74/details/skills/">
                <img loading="lazy" alt="اشاد رئوفی_Ershad Raoufi_HTML"  
                     src="../../assets/Badge/FrontEndDeveloper.jpeg" />
            </a>
        </div>
    </div>


<div class="linkedin">
    <a href="https://www.linkedin.com/in/ershad74/">
        <i class="fa fa-linkedin"></i>
    </a>
</div>
</app-profile>