.bg-cover {
    background-color: #000;
}
.activeLinkItem {
    font-weight: 500;
    color: #000 !important;
}
.deactiveLinkItem {
    box-shadow: none;
}
a {
    text-decoration: none;
    color: #000;
}
.parent {
    opacity: 0.8;
}
.card {
    background-color: rgba(255, 255, 255, 0.726);
    margin: 15px;
}
.card-footer {
    text-align: right;
}
.navbar {
    border-radius: 3px;
    width: 100% !important;
}
.gitlogo {
    width: 200px;
    max-width: 100%;
}
.logo {
    width: 30px;
}
.seeMoreLink {
    border-bottom: 1px solid #000;
}
.seeMore {
    text-align: right;
}
.repoItem {
    transition-property: all;
    transition-duration: 500ms;
}
    .repoItem:hover {
        transform: scale(1.05);
    }

.fa {
    color: rebeccapurple;
}

.fa-spin{
    color:#fff ;
}
.nav-link {
    font-size: 1.2rem;
}

.fa-download {
    color: #fff;
}

#contact > .card-body {
    text-align: center;
}
.animation_js{
    background-color:#000;
    position:fixed;
    width:100%;
    height: 100%;
}
.custom_avatar{
    position:fixed;
    left:12px;
    top:7px;
    z-index:1;
   
}
.center{
    text-align: center;
}
iframe{
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    border : 3px solid rgb(185, 0, 185);
}
.certificate{
    /* width: 70%; */
    border-radius: 10px;
    max-height: 200px;
    /* box-shadow: 0 4px 8px 0 #000; */
}
.certificate_badge{
    position:relative;
    top:-88px;
    left:20px;
}
.myAvatar{
    width:90px;
    border-radius:100%;
    border: 2px solid purple;
}
@media (max-width: 800px) {
    .navbar  {
      display: none !important;
    }
    .custom_avatar{
        position: relative;
        text-align: center;
    }
}
footer{
    width:100%;
    color:#fff;
    z-index:100;
    position:relative;
    bottom:0px;
    background:#000;
    opacity:0.7
}

footer>p{
    line-height:3;
    text-align:center;
    margin:0
}