<app-profile footer="Update a few minutes" id="repo" title="Ershad's GitHub Repositores">
    <h5 class="card-title">My Source Code in Github</h5>
    <div class="row">
        <div class="col-md-2">
            <i class="fa fa-5x fa-github"></i>
        </div>
        <div class="col-md-5">
            <div class="repoItem">
                <a href="https://github.com/Ershad95/Clash_Of_Clans_Bot"><i class="fa fa-link"></i>Clash_Of_Clans_Bot</a>
                <div>
                    <img src="https://img.shields.io/github/contributors/ershad95/Clash_Of_Clans_Bot?color=yellow&style=plastic" />
                <img src="https://img.shields.io/github/languages/top/ershad95/Clash_Of_Clans_Bot?color=brightgreen" />
                <img src="https://img.shields.io/github/languages/count/ershad95/Clash_Of_Clans_Bot?color=brightgreen" />
                <img src="https://img.shields.io/github/license/ershad95/Clash_Of_Clans_Bot?color=blue" />
                <img src="https://img.shields.io/github/languages/code-size/ershad95/Clash_Of_Clans_Bot?color=brightgreen&style=plastic" />
                <img src="https://img.shields.io/github/last-commit/ershad95/Clash_Of_Clans_Bot?color=orange&style=plastic" />
                <img src="https://img.shields.io/tokei/lines/github/ershad95/Clash_Of_Clans_Bot?color=brightgreen&style=plastic" />
                </div>
            </div>
            <div class="repoItem">
                <a href="https://github.com/Ershad95/ScopusApi"><i class="fa fa-link"></i>Scopus_Api</a>
                <div>
                <img src="https://img.shields.io/github/contributors/ershad95/ScopusApi?color=yellow&style=plastic" />
                <img src="https://img.shields.io/github/languages/top/ershad95/ScopusApi?color=brightgreen" />
                <img src="https://img.shields.io/github/languages/count/ershad95/ScopusApi?color=brightgreen" />
                <img src="https://img.shields.io/github/license/ershad95/ScopusApi?color=blue" />
                <img src="https://img.shields.io/github/languages/code-size/ershad95/ScopusApi?color=brightgreen&style=plastic" />
                <img src="https://img.shields.io/github/last-commit/ershad95/ScopusApi?color=orange&style=plastic" />
                <img src="https://img.shields.io/tokei/lines/github/ershad95/ScopusApi?color=brightgreen&style=plastic" />
                </div>
            </div>
            <div class="repoItem">
                <a href="https://github.com/Ershad95/Link_Shorter_Rizlinko"><i class="fa fa-link"></i>Make Cretive Short Links</a>
                <div>
                <img src="https://img.shields.io/github/contributors/ershad95/Link_Shorter_Rizlinko?color=yellow&style=plastic" />
                <img src="https://img.shields.io/github/languages/top/ershad95/Link_Shorter_Rizlinko?color=brightgreen" />
                <img src="https://img.shields.io/github/languages/count/ershad95/Link_Shorter_Rizlinko?color=brightgreen" />
                <img src="https://img.shields.io/github/license/ershad95/Link_Shorter_Rizlinko?color=blue" />
                <img src="https://img.shields.io/github/languages/code-size/ershad95/Link_Shorter_Rizlinko?color=brightgreen&style=plastic" />
                <img src="https://img.shields.io/github/last-commit/ershad95/Link_Shorter_Rizlinko?color=orange&style=plastic" />
                <img src="https://img.shields.io/tokei/lines/github/ershad95/Link_Shorter_Rizlinko?color=brightgreen&style=plastic" />
                </div>
            </div>
            <div class="repoItem">
                <a href="https://github.com/Ershad95/TakeTaxiApp"><i class="fa fa-link"></i>
                    TakeTaxi_Android App</a>
                <div>
                 <img src="https://img.shields.io/github/contributors/ershad95/TakeTaxiApp?color=yellow&style=plastic" />
                <img src="https://img.shields.io/github/languages/top/ershad95/TakeTaxiApp?color=brightgreen" />
                <img src="https://img.shields.io/github/languages/count/ershad95/TakeTaxiApp?color=brightgreen" />
                <img src="https://img.shields.io/github/license/ershad95/TakeTaxiApp?color=blue" />
                <img src="https://img.shields.io/github/languages/code-size/ershad95/TakeTaxiApp?color=brightgreen&style=plastic" />
                <img src="https://img.shields.io/github/last-commit/ershad95/TakeTaxiApp?color=orange&style=plastic" />
                <img src="https://img.shields.io/tokei/lines/github/ershad95/TakeTaxiApp?color=brightgreen&style=plastic" />
                </div>
            </div>

        </div>
        <div class="col-md-5">
            <div class="repoItem">
                <a href="https://github.com/Ershad95/GenerateIranianNationalCodes_Solution"><i class="fa fa-link"></i>
                    GenerateIranianNationalCodes
</a>
                  <div>
                <img src="https://img.shields.io/github/contributors/ershad95/GenerateIranianNationalCodes_Solution
?color=yellow&style=plastic" />
                <img src="https://img.shields.io/github/languages/top/ershad95/GenerateIranianNationalCodes_Solution
?color=brightgreen" />
                <img src="https://img.shields.io/github/languages/count/ershad95/GenerateIranianNationalCodes_Solution
?color=brightgreen" />
                <img src="https://img.shields.io/github/license/ershad95/GenerateIranianNationalCodes_Solution
?color=blue" />
                <img src="https://img.shields.io/github/languages/code-size/ershad95/GenerateIranianNationalCodes_Solution
?color=brightgreen&style=plastic" />
                <img src="https://img.shields.io/github/last-commit/ershad95/GenerateIranianNationalCodes_Solution
?color=orange&style=plastic" />
                <img src="https://img.shields.io/tokei/lines/github/ershad95/GenerateIranianNationalCodes_Solution
?color=brightgreen&style=plastic" />
                </div>
            </div>
            <div class="repoItem">
                <a href="https://github.com/Ershad95/Scopus_App"><i class="fa fa-link"></i>
                    Scopus_Android_App</a>
                 <div>
                <img src="https://img.shields.io/github/contributors/ershad95/Scopus_App?color=yellow&style=plastic" />
                <img src="https://img.shields.io/github/languages/top/ershad95/Scopus_App?color=brightgreen" />
                <img src="https://img.shields.io/github/languages/count/ershad95/Scopus_App?color=brightgreen" />
                <img src="https://img.shields.io/github/license/ershad95/Scopus_App?color=blue" />
                <img src="https://img.shields.io/github/languages/code-size/ershad95/Scopus_App?color=brightgreen&style=plastic" />
                <img src="https://img.shields.io/github/last-commit/ershad95/Scopus_App?color=orange&style=plastic" />
                <img src="https://img.shields.io/tokei/lines/github/ershad95/Scopus_App?color=brightgreen&style=plastic" />
                </div>
            </div>
            <div class="repoItem">
                <a href="https://github.com/Ershad95/CoffeeBaz"> <i
                        class="fa fa-link"></i>CoffeeBaz</a>
                <div>
                <img src="https://img.shields.io/github/contributors/ershad95/CoffeeBaz?color=yellow&style=plastic" />
                <img src="https://img.shields.io/github/languages/top/ershad95/CoffeeBaz?color=brightgreen" />
                <img src="https://img.shields.io/github/languages/count/ershad95/CoffeeBaz?color=brightgreen" />
                <img src="https://img.shields.io/github/license/ershad95/CoffeeBaz?color=blue" />
                <img src="https://img.shields.io/github/languages/code-size/ershad95/CoffeeBaz?color=brightgreen&style=plastic" />
                <img src="https://img.shields.io/github/last-commit/ershad95/CoffeeBaz?color=orange&style=plastic" />
                <img src="https://img.shields.io/tokei/lines/github/ershad95/CoffeeBaz?color=brightgreen&style=plastic" />
                </div>
            </div>
            <div class="repoItem">
                <a href="https://github.com/Ershad95/WaveMp3Player"><i class="fa fa-link"></i>
                    WaveMp3Player .Net App</a>
                <div>
                <img src="https://img.shields.io/github/contributors/ershad95/WaveMp3Player?color=yellow&style=plastic" />
                <img src="https://img.shields.io/github/languages/top/ershad95/WaveMp3Player?color=brightgreen" />
                <img src="https://img.shields.io/github/languages/count/ershad95/WaveMp3Player?color=brightgreen" />
                <img src="https://img.shields.io/github/license/ershad95/WaveMp3Player?color=blue" />
                <img src="https://img.shields.io/github/languages/code-size/ershad95/WaveMp3Player?color=brightgreen&style=plastic" />
                <img src="https://img.shields.io/github/last-commit/ershad95/WaveMp3Player?color=orange&style=plastic" />
                <img src="https://img.shields.io/tokei/lines/github/ershad95/WaveMp3Player?color=brightgreen&style=plastic" />
                </div>
            </div>
            <div class="seeMore">
                <a class="seeMoreLink" href="https://github.com/Ershad95?tab=repositories">
                    See More Repo

                </a>
            </div>
        </div>
    </div>
</app-profile>